.header {
  position: sticky;
  inset: 0 0 auto 0;
  padding: 2rem 2.4rem;
  background-color: #f4f4f4;
  z-index: 10;

  .inner {
    display: flex;
    flex-flow: row wrap;
    column-gap: 1rem;
  }

  .menu {
    flex-shrink: 0;
    padding-inline: 2rem;
    font-size: 1.6rem;
    line-height: 2;
    color: var(--darkgray);
    text-decoration: none;
    transition:
      padding 0.3s,
      color 0.3s;

    &:hover {
      color: var(--black);
    }

    @media (max-width: 580px) {
      padding-inline: 1rem;
    }
  }

  .user-menu {
    display: inherit;
    margin-inline-start: auto;
  }
}

.inner {
  max-inline-size: 128rem;
  margin-inline: auto;
}
