:root {
  --rounded: 0.8rem;

  --primary-color: #3578ff;
  --vivid-white: #f4f4f4;
  --blue: #0074e9;
  --blue-disabled: #97aabd;
  --lightgray: #ccc;
  --gray: #929292;
  --darkgray: #555;
  --mediumgray: #aaa9a9;
  --black: #111;
  --red: #e52528;

  background-color: #d7dadf;
  font-size: 62.5%; /* 10px */
  color: #26262c;

  &:has(.box-office) {
    background-color: #222;
    color: var(--lightgray);
  }
}

body {
  font-family: 'Pretendard', Pretendard;
  font-size: 1.6rem; /* 16px */
  line-height: 1.5;
}

nav ol,
nav ul {
  margin-block: 0;
  padding-inline-start: 0;
  list-style-type: none;
}

nav a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  overflow-wrap: break-word;
}

hr {
  box-sizing: content-box;
  overflow: visible;
  height: 0;
}

canvas,
img,
svg,
video {
  max-width: 100%;
}

abbr[title] {
  cursor: help;
  text-decoration: none;
}

:disabled {
  cursor: not-allowed;
}

:focus {
  outline: 0;
}

:focus-visible {
  outline: 2.5px solid var(--focus, #0869dfc0);
  outline-offset: 0.5px;
  border-radius: 2px;
}
